Repository JafarAbdi/ramp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: sort-simple-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.5.5
    hooks:
      - id: ruff
        args: ["--output-format=full", "--fix", "--config", "pyproject.toml"]
      - id: ruff-format
  - repo: https://github.com/lsst-ts/pre-commit-xmllint
    rev: v1.0.0
    hooks:
      - id: format-xmllint
  - repo: https://github.com/crate-ci/typos
    rev: v1.23.6
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      - id: taplo
        name: taplo
        entry: taplo format
        language: system
        types: [toml]
  # - repo: https://github.com/fastai/nbdev
  #   rev: 2.2.10
  #   hooks:
  #   - id: nbdev_clean
  #   - id: nbdev_export

Interactive IK demo
  examples/interactive_ik.py
  ramp/mj_robot.py
Due: none

Add achnowledgemt to moveit
  README.md
Due: prettier

Add SO-ARM100
  examples/motion_planning.py
  robots/so_arm100/configs.toml
  robots/so_arm100/so_arm100.srdf.xacro
Due: taplo

Use pixi's new pixi-build for trac-ik
  .github/workflows/ci.yml
  README.md
  pixi.lock
  pyproject.toml
Due: prettier, taplo

Use pixi's new pixi-build for trac-ik (#7)
  .github/workflows/ci.yml
  README.md
  pixi.lock
  pyproject.toml
Due: prettier, taplo

Update pin
  pyproject.toml
Due: taplo

Add script to compute disable collisions
  pyproject.toml
  ramp/compute_disable_collisions.py
Due: taplo

Add mujoco_menagerie
  .gitmodules
Due: none

Add simple script to print values
  pyproject.toml
  ramp/model_info.py
Due: taplo

Refactor to use more than group
  pixi.lock
  pyproject.toml
  ramp/motion_planner.py
  ramp/robot.py
  ramp/visualizer.py
  robots/rrr/configs.toml
  robots/rrr/floating_configs.toml
  robots/rrr/planar_configs.toml
  tests/test_motion_planner.py
  tests/test_robot.py
Due: taplo

Fix bugs + add test
  ramp/motion_planner.py
  ramp/robot.py
  tests/test_motion_planner.py
  tests/test_robot_state.py
Due: none

Finalize group
  examples/casadi_robot.py
  examples/humanoid.py
  examples/ik.py
  examples/mj_ik.py
  examples/motion_planning.py
  examples/mujoco_model.py
  examples/null_space_jacobian.py
  ramp/compute_disable_collisions.py
  ramp/constants.py
  ramp/mj_robot.py
  ramp/model_info.py
  ramp/motion_planner.py
  ramp/robot.py
  ramp/visualizer.py
  robots/acrobot/configs.toml
  robots/fr3_robotiq/configs.toml
  robots/kinova/configs.toml
  robots/panda/configs.toml
  robots/panda_mj/configs.toml
  robots/planar_rrr/configs.toml
  robots/rrr_mj/configs.toml
  robots/unitree_h1/configs.toml
  robots/unitree_h1/h1.srdf.xacro
  robots/ur5e/configs.toml
  tests/panda_configs.toml
  tests/panda_mj_configs.toml
  tests/test_motion_planner.py
  tests/test_robot.py
Due: taplo

Fix import
  tests/test_robot_state.py
Due: none

Cleanup
  examples/humanoid.py
  examples/ik.py
  examples/motion_planning.py
  pixi.lock
  ramp/motion_planner.py
  ramp/robot.py
  tests/test_motion_planner.py
  tests/test_robot.py
  tests/test_robot_state.py
Due: none

Pre-commit
  ramp/compute_disable_collisions.py
  ramp/mj_robot.py
  ramp/model_info.py
  ramp/motion_planner.py
  ramp/robot.py
  ramp/visualizer.py
Due: none

Use RobotModel to initialize a MotionPlanner
  examples/humanoid.py
  examples/motion_planning.py
  examples/mujoco_model.py
  ramp/motion_planner.py
  ramp/robot.py
  tests/non_existing_group_joint.toml
  tests/test_motion_planner.py
Due: taplo

Move get_frame_pose to RobotState
  examples/casadi_robot.py
  examples/ik.py
  ramp/motion_planner.py
  ramp/robot.py
  tests/test_robot.py
Due: none

Pre-commit
  ramp/motion_planner.py
Due: none

Support multiple groups (#8)
  .gitmodules
  examples/casadi_robot.py
  examples/humanoid.py
  examples/ik.py
  examples/mj_ik.py
  examples/motion_planning.py
  examples/mujoco_model.py
  examples/null_space_jacobian.py
  pixi.lock
  pyproject.toml
  ramp/compute_disable_collisions.py
  ramp/constants.py
  ramp/mj_robot.py
  ramp/model_info.py
  ramp/motion_planner.py
  ramp/robot.py
  ramp/visualizer.py
  robots/acrobot/configs.toml
  robots/fr3_robotiq/configs.toml
  robots/kinova/configs.toml
  robots/panda/configs.toml
  robots/panda_mj/configs.toml
  robots/planar_rrr/configs.toml
  robots/rrr/configs.toml
  robots/rrr/floating_configs.toml
  robots/rrr/planar_configs.toml
  robots/rrr_mj/configs.toml
  robots/unitree_h1/configs.toml
  robots/unitree_h1/h1.srdf.xacro
  robots/ur5e/configs.toml
  tests/non_existing_group_joint.toml
  tests/panda_configs.toml
  tests/panda_mj_configs.toml
  tests/test_motion_planner.py
  tests/test_robot.py
  tests/test_robot_state.py
Due: taplo

Move jacobian + differential_ik to RobotState
  ramp/robot.py
  tests/test_robot.py
Due: none

Make visualization optional
  examples/casadi_robot.py
  examples/humanoid.py
  examples/ik.py
  examples/motion_planning.py
  examples/mujoco_model.py
  examples/null_space_jacobian.py
  ramp/robot.py
Due: none

Completely delete Robot class
  ramp/robot.py
  ramp/visualizer.py
  tests/test_motion_planner.py
  tests/test_robot.py
  tests/test_robot_state.py
Due: none

Fix examples
  examples/casadi_robot.py
  examples/humanoid.py
  examples/ik.py
  examples/motion_planning.py
  examples/mujoco_model.py
  examples/null_space_jacobian.py
Due: none

Get rid of Robot class (#9)
  examples/casadi_robot.py
  examples/humanoid.py
  examples/ik.py
  examples/motion_planning.py
  examples/mujoco_model.py
  examples/null_space_jacobian.py
  ramp/robot.py
  ramp/visualizer.py
  tests/test_motion_planner.py
  tests/test_robot.py
  tests/test_robot_state.py
Due: none

Restructure repo
  examples/casadi_robot.py
  examples/humanoid.py
  examples/ik.py
  examples/mj_ik.py
  examples/motion_planning.py
  examples/mujoco_model.py
  examples/null_space_jacobian.py
  ramp/__init__.py
  ramp/model_info.py
  ramp/motion_planner.py
  ramp/pinocchio_utils.py
  ramp/robot.py
  ramp/robot_model.py
  ramp/robot_state.py
  ramp/visualizer.py
  tests/test_motion_planner.py
  tests/test_robot.py
  tests/test_robot_state.py
Due: none

Restructure repo (#10)
  examples/casadi_robot.py
  examples/humanoid.py
  examples/ik.py
  examples/mj_ik.py
  examples/motion_planning.py
  examples/mujoco_model.py
  examples/null_space_jacobian.py
  ramp/__init__.py
  ramp/model_info.py
  ramp/motion_planner.py
  ramp/pinocchio_utils.py
  ramp/robot.py
  ramp/robot_model.py
  ramp/robot_state.py
  ramp/visualizer.py
  tests/test_motion_planner.py
  tests/test_robot.py
  tests/test_robot_state.py
Due: none

Add script to compute disable collisions for adjacent links
  ramp/compute_disable_collisions.py
  tests/test_disable_collisions.py
Due: none

Add script to compute disable collisions for adjacent links (#11)
  ramp/compute_disable_collisions.py
  tests/test_disable_collisions.py
Due: none

Make acceleration limits optional
  ramp/motion_planner.py
  ramp/robot_model.py
Due: none

Make it possible to load robot model from xml/urdf/xacro files directly
  ramp/model_info.py
  ramp/motion_planner.py
  ramp/robot_model.py
  tests/test_robot.py
Due: none

Use mujoco_menagerie
  ramp/model_info.py
  robots/so_arm100/configs.toml
Due: taplo

Pre-commit
  ramp/model_info.py
  robots/so_arm100/so_arm100.srdf.xacro
Due: none

Refactor compute_disable_collisions
  examples/so_arm100_motion_planning.py
  ramp/__init__.py
  ramp/compute_disable_collisions.py
  ramp/motion_planner.py
  ramp/robot_state.py
Due: none

Add examples as tests
  examples/casadi_robot.py
  examples/humanoid.py
  examples/ik.py
  examples/motion_planning.py
  examples/mujoco_model.py
  examples/so_arm100_motion_planning.py
  ramp/__init__.py
  robots/so_arm100/configs.toml
  robots/so_arm100/so_arm100.srdf.xacro
  tests/test_disable_collisions.py
  tests/test_examples.py
Due: taplo

Pre-commit
  ramp/__init__.py
Due: none

Add SO-ARM100 (#6)
  examples/casadi_robot.py
  examples/humanoid.py
  examples/ik.py
  examples/mujoco_model.py
  examples/so_arm100_motion_planning.py
  ramp/__init__.py
  ramp/compute_disable_collisions.py
  ramp/model_info.py
  ramp/motion_planner.py
  ramp/robot_state.py
  tests/test_disable_collisions.py
  tests/test_examples.py
Due: none

Use RobotState for MotionPlanner's goal
  examples/humanoid.py
  examples/motion_planning.py
  examples/mujoco_model.py
  examples/so_arm100_motion_planning.py
  ramp/motion_planner.py
  ramp/robot_state.py
  tests/test_motion_planner.py
Due: none
