Repository JafarAbdi/ramp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: sort-simple-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.5.5
    hooks:
      - id: ruff
        args: ["--output-format=full", "--fix", "--config", "pyproject.toml"]
      - id: ruff-format
  - repo: https://github.com/lsst-ts/pre-commit-xmllint
    rev: v1.0.0
    hooks:
      - id: format-xmllint
  - repo: https://github.com/crate-ci/typos
    rev: v1.23.6
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      - id: taplo
        name: taplo
        entry: taplo format
        language: system
        types: [toml]
  # - repo: https://github.com/fastai/nbdev
  #   rev: 2.2.10
  #   hooks:
  #   - id: nbdev_clean
  #   - id: nbdev_export

ASD
  pyproject.toml
Due: taplo

ASD
  .github/workflows/ci.yml
Due: prettier

ASD
  pixi.lock
Due: none

Fix test
  ramp/ik_solver.py
Due: none

Cleanup ci.yml
  .github/workflows/ci.yml
Due: prettier

Use protobuf
  .gitmodules
  examples/decorative_geometries.py
  examples/mj_interactive.py
  pyproject.toml
  ramp/mujoco_interface.py
Due: taplo

Pre-commit
  ramp/mujoco_interface.py
Due: none

Install C++/Python packages
  pyproject.toml
Due: taplo

Try fix
  pyproject.toml
Due: taplo

Try fix
  .github/workflows/ci.yml
Due: prettier

Use protobuf (#28)
  .github/workflows/ci.yml
  .gitmodules
  examples/decorative_geometries.py
  examples/mj_interactive.py
  pyproject.toml
  ramp/mujoco_interface.py
Due: prettier, taplo

Update pixi.lock
  pixi.lock
Due: none

Use protobuf for everything
  examples/interactive_ik.py
  ramp/mujoco_interface.py
Due: none

Use protobuf for attach_model and mcap (#29)
  examples/interactive_ik.py
  ramp/mujoco_interface.py
Due: none

Refactor generate_time_optimal_trajectory_from_waypoints into a standalone function
  ramp/trajectory_smoothing.py
Due: none

Add LeRobot for robot learning
  .gitmodules
  pixi.lock
  pyproject.toml
Due: taplo

Add robot_learning package
  robot_learning/SetupGripper.ipynb
  robot_learning/data_collection.py
  robot_learning/follower_arm.py
  robot_learning/pyproject.toml
  robot_learning/realsense.py
  robot_learning/robot_learning/__init__.py
Due: taplo

Add main scripts
  pyproject.toml
  robot_learning/SetupGripper.ipynb
  robot_learning/data_collection.py
  robot_learning/follower_arm.py
  robot_learning/pyproject.toml
  robot_learning/realsense.py
  robot_learning/robot_learning/__init__.py
  robot_learning/robot_learning/constants.py
  robot_learning/robot_learning/keyboard_listener.py
  robot_learning/robot_learning/utils.py
  robot_learning/teleoperate.py
Due: taplo

Fixes
  pixi.lock
  pyproject.toml
  robot_learning/data_collection.py
Due: taplo

Reset gripper
  robot_learning/data_collection.py
Due: none

Cleanup
  robot_learning/robot_learning/constants.py
  robot_learning/robot_learning/keyboard_listener.py
Due: none

Handle Sigint
  robot_learning/data_collection.py
Due: none

Final data collection code
  pixi.lock
  robot_learning/README.md
  robot_learning/data_collection.py
  robot_learning/generate_udev_rule.bash
  robot_learning/robot_learning/keyboard_listener.py
Due: prettier

Add calibration files for leader follower
  .cache/calibration/so100/main_follower.json
  .cache/calibration/so100/main_leader.json
Due: none

Remove space for gripper toggling
  .cache/calibration/so100/main_follower.json
  .cache/calibration/so100/main_leader.json
  robot_learning/README.md
  robot_learning/SetupGripper.ipynb
  robot_learning/data_collection.py
  robot_learning/robot_learning/constants.py
  robot_learning/robot_learning/keyboard_listener.py
Due: prettier

Update initial/reset positions
  robot_learning/robot_learning/constants.py
Due: none

Fix OMPL path
  pyproject.toml
Due: taplo

Make mujoco installation easier
  pyproject.toml
Due: taplo

Fixes to URDF loading
  ramp/compute_disable_collisions.py
  ramp/pinocchio_utils.py
  ramp/robot_model.py
Due: none

Add pixi.lock
  pixi.lock
Due: none

Fixes to URDF & OMPL (#32)
  pixi.lock
  pyproject.toml
  ramp/compute_disable_collisions.py
  ramp/pinocchio_utils.py
  ramp/robot_model.py
Due: taplo

Add airplane example + floating/planar
  examples/airplane_motion_planning.py
  robots/floating.urdf
  robots/planar.urdf
Due: none

Fixes
  examples/airplane_motion_planning.py
  ramp/robot_model.py
Due: none

Pre-commit
  robots/floating.urdf
  robots/planar.urdf
Due: none
