Repository JafarAbdi/ramp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: sort-simple-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.5.5
    hooks:
      - id: ruff
        args: ["--output-format=full", "--fix", "--config", "pyproject.toml"]
      - id: ruff-format
  - repo: https://github.com/lsst-ts/pre-commit-xmllint
    rev: v1.0.0
    hooks:
      - id: format-xmllint
  - repo: https://github.com/crate-ci/typos
    rev: v1.23.6
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      - id: taplo
        name: taplo
        entry: taplo format
        language: system
        types: [toml]
  # - repo: https://github.com/fastai/nbdev
  #   rev: 2.2.10
  #   hooks:
  #   - id: nbdev_clean
  #   - id: nbdev_export

Add airplane example + floating/planar (#26)
  examples/airplane_motion_planning.py
  ramp/robot_model.py
  robots/floating.urdf
  robots/planar.urdf
Due: none

Pre-commit
  pixi.lock
  pyproject.toml
  ramp/motion_planner.py
Due: taplo

Add support to Vana/Owen/VanaOwen/Dubins/ReedsShepp state spaces
  examples/motion_planning.py
  ramp/motion_planner.py
  robots/rrr/floating_configs.toml
  robots/rrr/planar_configs.toml
Due: taplo

Add more examples
  examples/motion_planning.py
  ramp/motion_planner.py
  robots/rrr/dubins_configs.toml
  robots/rrr/owen_configs.toml
  robots/rrr/planar_configs.toml
  robots/rrr/reeds_shepp_configs.toml
  robots/rrr/vana_configs.toml
  robots/rrr/vana_owen_configs.toml
Due: taplo

Fixes
  examples/motion_planning.py
  ramp/motion_planner.py
Due: none

Add support to Vana/Owen/VanaOwen/Dubins/ReedsShepp state spaces (#15)
  examples/motion_planning.py
  pixi.lock
  pyproject.toml
  ramp/motion_planner.py
  robots/rrr/dubins_configs.toml
  robots/rrr/owen_configs.toml
  robots/rrr/reeds_shepp_configs.toml
  robots/rrr/vana_configs.toml
  robots/rrr/vana_owen_configs.toml
Due: taplo

Add mimic joint test & fix having a mimic joint as a group joint
  pixi.lock
  pyproject.toml
  ramp/constants.py
  ramp/pinocchio_utils.py
  ramp/robot_model.py
  robots/kinova/configs.toml
  robots/ur5e/configs.toml
  tests/group_joint_mimic.toml
  tests/mimic_test.py
Due: taplo

Use mimic joint support from pinocchio
  ramp/pinocchio_utils.py
Due: none

Fully port to use pin's mimic joints
  ramp/pinocchio_utils.py
  ramp/robot_model.py
  ramp/robot_state.py
  tests/group_joint_mimic.toml
  tests/mimic_test.py
Due: taplo

Temp. remove robot causing issues with pin fr3_robotiq
  examples/casadi_robot.py
  examples/ik.py
  examples/motion_planning.py
  tests/robot_test.py
Due: none

Add TOPP-RA
  .gitmodules
  pixi.lock
  pyproject.toml
  test.py
Due: taplo

Update
  .pre-commit-config.yaml
  Untitled.ipynb
  pixi.lock
  pyproject.toml
  ramp/trajectory_smoothing.py
  test.py
Due: prettier, taplo

Clean notebook
  .pre-commit-config.yaml
  Untitled.ipynb
Due: prettier

Update mujoco to 3.3.3
  pixi.lock
  pyproject.toml
Due: taplo

Cleanup dependencies
  pyproject.toml
  ramp/__init__.py
  ramp/casadi_robot_model.py
  ramp/robot_model.py
Due: taplo

Move source files to src/ramp
  src/ramp/__init__.py
  src/ramp/compute_disable_collisions.py
  src/ramp/constants.py
  src/ramp/exceptions.py
  src/ramp/hardware_interface.py
  src/ramp/ik_solver.py
  src/ramp/mocap.xml
  src/ramp/model_info.py
  src/ramp/motion_planner.py
  src/ramp/mujoco_interface.py
  src/ramp/pinocchio_utils.py
  src/ramp/robot_model.py
  src/ramp/robot_state.py
  src/ramp/trajectory_smoothing.py
  src/ramp/visualizer.py
Due: none

Pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  robots/fr3/fr3.srdf.xacro
  robots/ur5e/ur.srdf.xacro
  src/ramp/model_info.py
  src/ramp/pinocchio_utils.py
  tests/double_pendulum.toml
  tests/double_pendulum.urdf
  tests/robot_state_test.py
  tests/robot_test.py
Due: prettier, taplo

Remove deleted examples from examples_test
  tests/examples_test.py
Due: none

Fixes
  examples/so_arm100_motion_planning.py
  src/ramp/model_info.py
  src/ramp/robot_model.py
Due: none

Drake/Pinocchio
  Drake.ipynb
  LieGroups.ipynb
  pyproject.toml
  uv.lock
Due: taplo

update
  Drake.ipynb
  uv.lock
Due: none

Remove unused files
  src/ramp/exceptions.py
  src/ramp/hardware_interface.py
Due: none

Use list[int] rather than np.ndarray for indices
  src/ramp/pinocchio_utils.py
  src/ramp/robot_model.py
  tests/mimic_test.py
Due: none

Move Meshcat visualizer to visualizers
  examples/airplane_motion_planning.py
  examples/humanoid.py
  examples/motion_planning.py
  examples/so_arm100_motion_planning.py
  src/ramp/__init__.py
  src/ramp/model_info.py
  src/ramp/visualizers/__init__.py
  src/ramp/visualizers/meshcat.py
Due: none

Add viser visualizer
  ruff.toml
  src/ramp/__init__.py
  src/ramp/model_info.py
  src/ramp/robot_model.py
  src/ramp/visualizers/__init__.py
  src/ramp/visualizers/viser.py
Due: taplo

Support trajectories in viser
  examples/airplane_motion_planning.py
  examples/so_arm100_motion_planning.py
  src/ramp/pinocchio_utils.py
  src/ramp/visualizers/viser.py
Due: none

Add ur5e gizmo example
  examples/ur5e_gizmo.py
  src/ramp/visualizers/viser.py
  tests/examples_test.py
Due: none
