Repository JafarAbdi/ramp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: sort-simple-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.5.5
    hooks:
      - id: ruff
        args: ["--output-format=full", "--fix", "--config", "pyproject.toml"]
      - id: ruff-format
  - repo: https://github.com/lsst-ts/pre-commit-xmllint
    rev: v1.0.0
    hooks:
      - id: format-xmllint
  - repo: https://github.com/crate-ci/typos
    rev: v1.23.6
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      - id: taplo
        name: taplo
        entry: taplo format
        language: system
        types: [toml]
  # - repo: https://github.com/fastai/nbdev
  #   rev: 2.2.10
  #   hooks:
  #   - id: nbdev_clean
  #   - id: nbdev_export

Add HardwareInterface
  examples/mj_ik.py
  ramp/hardware_interface.py
Due: none

Add support to Vana/Owen/VanaOwen/Dubins/ReedsShepp state spaces
  examples/motion_planning.py
  ramp/motion_planner.py
  ramp/pinocchio_utils.py
  ramp/robot_model.py
  robots/rrr/floating_configs.toml
  robots/rrr/planar_configs.toml
Due: taplo

Initial AnytimePathShortening implementation
  ramp/anytime_path_shortening.py
  ramp/motion_planner.py
Due: none

Remove need to have self.state_spaces & Add function to create different geometry objects
  examples/motion_planning.py
  ramp/motion_planner.py
  ramp/robot_model.py
  ramp/robot_state.py
Due: none

Improvements
  ramp/motion_planner.py
  ramp/pinocchio_utils.py
  ramp/robot_model.py
Due: none

Fix tests
  examples/motion_planning.py
  ramp/robot_model.py
  tests/test_motion_planner.py
Due: none

Remove need to have self.state_spaces & Add function to create different geometry objects (#17)
  examples/motion_planning.py
  ramp/motion_planner.py
  ramp/pinocchio_utils.py
  ramp/robot_model.py
  ramp/robot_state.py
  tests/test_motion_planner.py
Due: none

Add computeDistance and PathClerance objective
  ramp/motion_planner.py
  ramp/robot_state.py
Due: none

qvel
  ramp/hardware_interface.py
Due: none

Make compute_distances return result & cleanup geometry
  ramp/robot_model.py
  ramp/robot_state.py
Due: none

Add point visualization functionality
  ramp/motion_planner.py
  ramp/visualizer.py
Due: none

Finalize
  examples/mj_interactive.py
  ramp/motion_planner.py
  ramp/robot_state.py
  tests/test_examples.py
Due: none

Pre-commit
  ramp/hardware_interface.py
  ramp/motion_planner.py
  ramp/robot_model.py
Due: none

Add HardwareInterface (#14)
  examples/mj_ik.py
  examples/mj_interactive.py
  ramp/hardware_interface.py
  ramp/motion_planner.py
  ramp/robot_state.py
  ramp/visualizer.py
  tests/test_examples.py
Due: none

Use RobotState for MotionPlanner's goal
  examples/humanoid.py
  examples/motion_planning.py
  examples/mujoco_model.py
  examples/so_arm100_motion_planning.py
  ramp/motion_planner.py
  ramp/robot_state.py
  tests/test_motion_planner.py
Due: none

Add support to Vana/Owen/VanaOwen/Dubins/ReedsShepp state spaces
  examples/motion_planning.py
  pixi.lock
  ramp/motion_planner.py
  robots/rrr/floating_configs.toml
  robots/rrr/planar_configs.toml
Due: taplo

Replace __getitem__/__setitem__ with proper functions
  examples/so_arm100_motion_planning.py
  ramp/motion_planner.py
  ramp/robot_state.py
  tests/test_examples.py
  tests/test_robot.py
  tests/test_robot_state.py
Due: none

Add missing include
  ramp/robot_state.py
Due: none

Add a function to get body's geometries
  ramp/robot_model.py
Due: none

update lock file
  pixi.lock
Due: none

remove frozen
  .github/workflows/ci.yml
Due: prettier

Pin pixi version
  .github/workflows/ci.yml
Due: prettier

Revert "remove frozen"
  .github/workflows/ci.yml
Due: prettier

ASDKLASDKLAS
  .github/workflows/ci.yml
Due: prettier

ASD
  .github/workflows/ci.yml
Due: prettier

Revert "update lock file"
  pixi.lock
Due: none

Replace __getitem__/__setitem__ with proper functions (#18)
  examples/so_arm100_motion_planning.py
  ramp/motion_planner.py
  ramp/robot_state.py
  tests/test_examples.py
  tests/test_robot.py
  tests/test_robot_state.py
Due: none

Remove pixi version
  .github/workflows/ci.yml
  pixi.lock
Due: prettier

Revert "Remove pixi version"
  .github/workflows/ci.yml
  pixi.lock
Due: prettier

Add interactive IK example
  .github/workflows/ci.yml
  examples/interactive_ik.py
Due: prettier

Update ci.yml
  .github/workflows/ci.yml
Due: prettier

Fixes
  .github/workflows/ci.yml
  ramp/hardware_interface.py
Due: prettier

Fix pixi version
  .github/workflows/ci.yml
Due: prettier

Fix
  .github/workflows/ci.yml
Due: prettier
