Repository JafarAbdi/ramp: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: sort-simple-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.5.5
    hooks:
      - id: ruff
        args: ["--output-format=full", "--fix", "--config", "pyproject.toml"]
      - id: ruff-format
  - repo: https://github.com/lsst-ts/pre-commit-xmllint
    rev: v1.0.0
    hooks:
      - id: format-xmllint
  - repo: https://github.com/crate-ci/typos
    rev: v1.23.6
    hooks:
      - id: typos
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      - id: taplo
        name: taplo
        entry: taplo format
        language: system
        types: [toml]
  # - repo: https://github.com/fastai/nbdev
  #   rev: 2.2.10
  #   hooks:
  #   - id: nbdev_clean
  #   - id: nbdev_export

Add interactive MuJoCo IK example (#19)
  examples/interactive_ik.py
  ramp/hardware_interface.py
Due: none

Add mujoco_simulator_cpp as dependency
  pyproject.toml
Due: taplo

Bring mujoco_simulator_py from https://github.com/JafarAbdi/mujoco_simulator
  mujoco_simulator_py/README.md
  mujoco_simulator_py/examples/acrobot.xml
  mujoco_simulator_py/examples/acrobot_lqr.py
  mujoco_simulator_py/examples/attach_models_demo.py
  mujoco_simulator_py/examples/decorative_geometries.py
  mujoco_simulator_py/mujoco_simulator_py/__init__.py
  mujoco_simulator_py/mujoco_simulator_py/mocap.xml
  mujoco_simulator_py/mujoco_simulator_py/mujoco_interface.py
  mujoco_simulator_py/pixi.lock
  mujoco_simulator_py/pyproject.toml
  mujoco_simulator_py/tests/mujoco_interface_test.py
  pixi.lock
  pyproject.toml
  robots/acrobot/configs.toml
  tests/test_disable_collisions.py
Due: prettier, taplo

Add mujoco_simulator_py tests
  pyproject.toml
Due: taplo

Lint
  .pre-commit-config.yaml
  .prettierrc.cjs
  mujoco_simulator_py/examples/acrobot_lqr.py
  mujoco_simulator_py/examples/attach_models_demo.py
  mujoco_simulator_py/examples/decorative_geometries.py
  mujoco_simulator_py/mujoco_simulator_py/mocap.xml
  pyproject.toml
  ramp/hardware_interface.py
  tests/disable_collisions_test.py
  tests/examples_test.py
  tests/motion_planner_test.py
  tests/robot_state_test.py
  tests/robot_test.py
Due: prettier, taplo

Completely remove mujoco_simulator as submodule
  .gitmodules
Due: none

Simplify mujoco interface
  README.md
  examples/acrobot_lqr.py
  examples/attach_models_demo.py
  examples/decorative_geometries.py
  examples/interactive_ik.py
  examples/mj_ik.py
  examples/mj_interactive.py
  mujoco_simulator_py/README.md
  mujoco_simulator_py/examples/attach_models_demo.py
  mujoco_simulator_py/mujoco_simulator_py/__init__.py
  mujoco_simulator_py/pixi.lock
  mujoco_simulator_py/pyproject.toml
  mujoco_simulator_py/tests/mujoco_interface_test.py
  pixi.lock
  pyproject.toml
  ramp/hardware_interface.py
  ramp/mocap.xml
  ramp/mujoco_interface.py
  ramp/robot_model.py
  robots/acrobot/acrobot.xml
  robots/acrobot/configs.toml
  robots/acrobot/scene.xml
  tests/disable_collisions_test.py
  tests/mujoco_interface_test.py
Due: prettier, taplo

Remove commented out code
  examples/attach_models_demo.py
Due: none

Update readme
  README.md
Due: prettier

Bring mujoco_simulator_py from https://github.com/JafarAbdi/mujoco_simulator (#22)
  .gitmodules
  .pre-commit-config.yaml
  .prettierrc.cjs
  README.md
  examples/acrobot_lqr.py
  examples/attach_models_demo.py
  examples/decorative_geometries.py
  examples/interactive_ik.py
  examples/mj_ik.py
  examples/mj_interactive.py
  pixi.lock
  pyproject.toml
  ramp/hardware_interface.py
  ramp/mocap.xml
  ramp/mujoco_interface.py
  ramp/robot_model.py
  robots/acrobot/acrobot.xml
  robots/acrobot/configs.toml
  robots/acrobot/scene.xml
  tests/disable_collisions_test.py
  tests/examples_test.py
  tests/motion_planner_test.py
  tests/mujoco_interface_test.py
  tests/robot_state_test.py
  tests/robot_test.py
Due: prettier, taplo

Move time_optimal_trajectory_generation_py to a seperate file + add demo with mujoco
  examples/mujoco_model.py
  examples/so_arm100_motion_planning.py
  pyproject.toml
  ramp/compute_disable_collisions.py
  ramp/constants.py
  ramp/motion_planner.py
  ramp/mujoco_interface.py
  ramp/robot_model.py
  ramp/trajectory_smoothing.py
  tests/examples_test.py
  tests/motion_planner_test.py
Due: taplo

Update examples/so_arm100_motion_planning.py
  examples/so_arm100_motion_planning.py
Due: none

Move time_optimal_trajectory_generation_py to a seperate file + add demo with mujoco (#23)
  examples/mujoco_model.py
  examples/so_arm100_motion_planning.py
  pyproject.toml
  ramp/compute_disable_collisions.py
  ramp/constants.py
  ramp/motion_planner.py
  ramp/mujoco_interface.py
  ramp/robot_model.py
  ramp/trajectory_smoothing.py
  tests/examples_test.py
  tests/motion_planner_test.py
Due: taplo

Update lock
  pixi.lock
Due: none

Fix bug
  examples/ik.py
Due: none

Pre-commit
  ramp/robot_model.py
  ramp/trajectory_smoothing.py
Due: none

Fix examples/ik.py
  examples/ik.py
Due: none

Update trac_ik commit hash & fix ci (#24)
  examples/ik.py
  pixi.lock
  ramp/robot_model.py
  ramp/trajectory_smoothing.py
Due: none

Add damping term to casadi ik
  examples/casadi_robot.py
Due: none

Make visualzier optional
  examples/mj_interactive.py
Due: none

Fix
  examples/mj_interactive.py
Due: none

Update mj_interactive (#25)
  examples/casadi_robot.py
  examples/mj_interactive.py
Due: none

Add airplane example + floating/planar
  examples/airplane_motion_planning.py
  robots/floating.urdf
  robots/planar.urdf
Due: none

Use RobotState for MotionPlanner's goal
  examples/humanoid.py
  examples/motion_planning.py
  examples/mujoco_model.py
  examples/so_arm100_motion_planning.py
  ramp/motion_planner.py
  ramp/robot_state.py
  tests/motion_planner_test.py
Due: none

Fix rebase
  examples/humanoid.py
  examples/motion_planning.py
  ramp/motion_planner.py
  tests/motion_planner_test.py
Due: none

Fixes
  examples/mj_ik.py
  pixi.lock
  pyproject.toml
  ramp/pinocchio_utils.py
Due: taplo

Fix pixi.lock
  pixi.lock
Due: none

AD
  .github/workflows/ci.yml
Due: prettier

ADS
  pixi.lock
  pyproject.toml
Due: taplo

ASD
  pixi.lock
Due: none

ASD
  .github/workflows/ci.yml
Due: prettier

ASD
  .github/workflows/ci.yml
  pixi.lock
  pyproject.toml
Due: prettier, taplo
